
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <title>My PortFolio</title>
  </head>

<body>
    <div><h1>This is my PortFolio</h1>
    <h3>Pages is:</h3><h3>home</h3><h3>about</h3><h3>resume</h3><h3>service</h3><h3>contact</h3></div>
</body>
</html>
