
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Service Page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>
    <!-- ======= My Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <span>My Services</span>
                <h2>My Services</h2>
                <p></p>
            </div>

            <div class="row">
                <div class="col-md-8 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fa fa-mobile"></i></div>
                        <h4 class="title"><a href="">Front End Designer</a></h4>
                        <p class="description"><br>ASP Framework<br>HTML, CSS, Javascript, Bootstrap<br>Great web design without functionality is like a sports car with no engine.</p>
                        </p>
                    </div>
                </div>

                <div class="col-md-8 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">C language</a></h4>
                        <p class="description">Unlike most computer languages, C allows the programmer to write directly to memory.</p>
                    </div>
                </div>

                <div class="col-md-8 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Backend language</a></h4>
                        <p class="description">C# language<br>DOTNET<br>Perfection is achieved not when there is nothing more to add, but rather when there is nothing more to take away.</p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"> <i class="fa fa-laptop"></i></div>
                        <h4 class="title"><a href="">Database Language</a></h4>
                        <p class="description">SQL , MySQL<br>ADO.Net<br>An easily accessible and transparent database of contract information will bring sunshine into the confusing and sometimes shadowy practice of government contracting.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End My Services Section -->

</body>
</html>
